body{
  background-color: black;
}
.MainText h1{
text-transform:capitalize;
color: red;
}
.MainText h{
world-break:break-all;
color: red;
}
.MainText{
text-align:-webkit-center;
padding-top: 350px;
}
