body{
  background-image: url(http://christianskaya-vera.ru/upload/iblock/d94/d94dfe8933449e56d197859154f09c82.jpg);
}

h1.MAIN{
  background:red;
  text-align: center;
}
p.TWO{
  background:orange;
  text-align: center;
}
